<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= current_page.data.title %></title>

    <meta property="og:type" content="website" />
    <meta property="og:description" content="不只升級高美濕地，快來這裡獨家為你的 Mac 升遍台灣美景！" />
    <meta property="og:url" content="http://zhusee2.github.io/can-you-upgrade/" />
    <%= tag(:meta, property: "og:title", content: current_page.data.title) %>
    <%= tag(:meta, property: "og:image",
            content: "http://zhusee2.github.io/can-you-upgrade/#{ image_path('og_image.jpg') }") %>

    <link rel="canonical" href="http://zhusee2.github.io/can-you-upgrade/" />

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "all" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.2";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <%= google_analytics_universal_tag if build? %>

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <%= javascript_include_tag  "all" %>
  </body>
</html>
